
.todo {
    width: 100%;
    float: right ;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style: none;
      padding: 10px 20px;
      color: #ffffff;
      text-transform: capitalize;
      font-weight: 600;
      border: 2px solid #025f70;
      border-radius: 5px;
      margin-bottom: 10px;
    margin-top: 15px;
      background: #4EB9CD;
      transition: all 0.75s 
  };
  
  .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    
  }
  
  